.bannerlogo {
  margin-top: -8;
  margin-left: -8;
  height: 30rem;
  width: 100%;
}

.logo2 {
  z-index: 1;
  width: clamp(50%, 15rem, 25rem);
  margin: 0 auto;
  padding-top: 2rem;
}

.banner div {
  background-image: url(../../images/gamerbillede2.png);
  background-position: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner div h2 {
  color: $clr-white;
  font-size: $font-l;
  font-style: italic;
  text-align: center;
  padding-top: 10rem;
}

/* knapper */
.medlembutton {
  padding: 1.5rem 7rem;
  text-align: center;
  border: none;
  font-size: $font-sm;
  font-weight: 700;
  border-radius: 10px;
  background-color: $clr-dark-blue;
  color: $clr-white;
  font-family: Ironstrike, sans-serif;
  white-space: nowrap;
  margin: 15rem auto 5rem auto;
  display: block;
}

.medlembutton:hover {
  background-color: $clr-dark-blue;
  color: white;
}

.instructorbutton {
  padding: 1.5rem 5rem;
  text-align: center;
  border: none;
  font-size: $font-sm;
  font-weight: 700;
  border-radius: 10px;
  background-color: white;
  color: $clr-dark-blue;
  font-family: Ironstrike, sans-serif;
  white-space: nowrap;
  margin: 0 auto;
  display: block;
}

.instructorbutton:hover {
  background-color: $clr-grey;
  color: white;
}
/* knapper slut */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .banner div h2 {
    padding-top: 15rem;
    font-size: $font-xl;
  }

  .logo2 {
    z-index: 1;
    width: clamp(20%, 5rem, 5rem);
    padding-top: 5rem;
  }

  .medlembutton {
    position: absolute;
    margin: 0;
    left: 23%;
    bottom: 20%;
  }

  .instructorbutton {
    position: absolute;
    right: 23%;
    bottom: 20%;
  }
}
