.intro h2 {
    font-size: 30px;
    padding: 1rem 2.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    align-items: center;
    color: #161B91;
}
.intro p {
    line-height: 1.5rem;
    font-size: $font-sm-fallback;
    margin: 1rem 3rem;
    display: inline-block;
    text-align: left;
    
}

.kontakt h2 {
    margin-top: 2rem;
    font-size: 30px;
    padding: 1rem 5rem;
    display: inline-block;
    align-items: center;
    color: #161B91;
}

.kontakt p {
    line-height: 1.5rem;
    font-size: $font-sm-fallback;
    margin: 1rem 3rem;
    display: inline-block;
    text-align: left;
}

img {
    padding: 1rem 4rem;
    width: 70%;
    border-radius: 2rem;
}

.omoskontakt {
    border: none;
    color: $clr-dark-blue;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: -0.375rem -0.125rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .omoskontakt {
    background-color: $clr-dark-blue; 
    border-radius: 1rem;
    color: white; 
    width: 14rem;
  }
  .omoskontakt:hover {
    background-color: $clr-dark-blue;
    color: white;
  }